In [6]:
import pandas as pd 
df1 = pd.read_hdf('../../data/processed/validation/valid_case2.hdf')
df2 = pd.read_hdf('../../data/processed/train/train_case2.hdf')

In [7]:
df2['date'].min()

Timestamp('2013-01-01 00:00:00')

In [8]:
df2['date'].max()

Timestamp('2015-09-30 00:00:00')

In [10]:
pd.concat([df1, df2]).to_hdf('../../data/processed/train/total.hdf','total', index=False,  mode='w')

In [11]:
df_test = pd.read_csv('../../data/raw/test.csv')
df_test.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [12]:
df_test['year'] = 2015
df_test['month'] = 11

In [14]:
df_test.to_hdf('../../data/processed/validation/test.hdf', 'test', index=False, mode='w')

In [15]:
df_test.shape

(214200, 5)