In [1]:
import pandas as pd 
cumdata = pd.read_hdf('../data/processed/cumdata.hdf', 'shop_id_item_id')

In [3]:
total = pd.read_hdf('../data/processed/train/total.hdf')

In [4]:
total[
    (total['shop_id'] == 12) &
    (total['item_id'] == 5037) &
    (total['year'] == 2015) &
    (total['month'] == 10)
]

Empty DataFrame
Columns: [date, date_block_num, shop_id, item_id, item_price, item_cnt_day, day, month, year, weekday, days_passed, is_new_year, new_year_gaussian, from_new_year_days, to_new_year_days, is_feb_special_time, feb_special_gaussian, from_feb_special_days, to_feb_special_days, is_nov_special_time, nov_special_gaussian, from_nov_special_days, to_nov_special_days, is_holiday]
Index: []

[0 rows x 24 columns]

In [6]:
cumdata[
    (cumdata['shop_id'] == 12) &
    (cumdata['item_id'] == 5037) &
    (cumdata['year'] == 2015) &
    (cumdata['month'].isin([8,9,10,11]))
]

        shop_id  item_id  year  month  cumcount
398532       12     5037  2015      8      10.0
398533       12     5037  2015      9      12.0
398534       12     5037  2015     10      11.0