In [18]:
import pandas as pd 
df = pd.read_csv('../data/submission3.csv')
df.head()

      ID  item_cnt_month
0      0        2.289702
1   5100        1.836559
2  10200        2.532584
3  15300        2.077766
4  20400        2.142855

In [19]:
clipped = df['item_cnt_month'].clip(lower=0, upper=20)

In [20]:
df[clipped != df['item_cnt_month']]['item_cnt_month'].max()

857.9617361143485

In [21]:
df['item_cnt_month'] = clipped

In [22]:
df['item_cnt_month'].max()

20.0

In [23]:
df.to_csv('../data/submission4.csv', index=False)