In [1]:
import pandas as pd
df_total = pd.read_hdf('../data/processed/train/total.hdf')
df_total.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,day,month,year,weekday,...,to_new_year_days,is_feb_special_time,feb_special_gaussian,from_feb_special_days,to_feb_special_days,is_nov_special_time,nov_special_gaussian,from_nov_special_days,to_nov_special_days,is_holiday
2882335,2015-10-23,33,45,13315,649.0,1.0,23,10,2015,4,...,69,False,0.0,243,122,False,1.755688e-63,17,348,False
2882336,2015-10-05,33,45,13880,229.0,1.0,5,10,2015,0,...,87,False,0.0,225,140,True,0.000000e+00,364,1,False
2882337,2015-10-02,33,45,13881,659.0,1.0,2,10,2015,4,...,90,False,0.0,222,143,False,0.000000e+00,361,4,False
2882338,2015-10-12,33,45,13881,659.0,1.0,12,10,2015,0,...,80,False,0.0,232,133,False,1.522998e-08,6,359,False
2882339,2015-10-04,33,45,13923,169.0,1.0,4,10,2015,6,...,88,False,0.0,224,141,True,0.000000e+00,363,2,False

In [2]:
df_total['item_id'].nunique()

21807

In [3]:
df_test = pd.read_csv('../data/raw/test.csv')
df_test['item_id'].nunique()

5100

In [4]:
df_valid = pd.read_hdf('../data/processed/validation/valid.hdf')
df_valid.head()

   ID  shop_id  item_id  year  month
0   0        5     5037  2015     10
1   1        5     5320  2015     10
2   2        5     5233  2015     10
3   3        5     5232  2015     10
4   4        5     5268  2015     10

In [7]:
from datetime import datetime
pd.date_range(datetime(2014, 9, 1), datetime(2015, 10, 1), freq='M') + pd.DateOffset(days=1)

DatetimeIndex(['2014-10-01', '2014-11-01', '2014-12-01', '2015-01-01',
               '2015-02-01', '2015-03-01', '2015-04-01', '2015-05-01',
               '2015-06-01', '2015-07-01', '2015-08-01', '2015-09-01',
               '2015-10-01'],
              dtype='datetime64[ns]', freq='MS')

In [21]:
def get_new_valid_df(date):
    df_t = df_valid.copy()
    df_t['year'] = date.year
    df_t['month'] = date.month
    return df_t
df_train_new = pd.concat([
    get_new_valid_df(date) for date in
    (pd.date_range(datetime(2014, 9, 1), datetime(2015, 10, 1), freq='M') + pd.DateOffset(days=1))
])

In [10]:
(pd.date_range(datetime(2015, 7, 1), datetime(2015, 10, 1), freq='M') + pd.DateOffset(days=1))

DatetimeIndex(['2015-08-01', '2015-09-01', '2015-10-01'], dtype='datetime64[ns]', freq='MS')

In [14]:
df_valid_new.shape

(642600, 5)

In [15]:
df_valid_new.groupby('month')[['shop_id', 'item_id']].nunique()

       shop_id  item_id
month
8           42     5100
9           42     5100
10          42     5100

In [16]:
df_valid_new.to_hdf('../data/processed/validation/valid3.hdf', '3', mode='w')

/usr/lib/python3/dist-packages/tables/path.py:100: NaturalNameWarning: object name is not a valid Python identifier: '3'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)

In [18]:
df_total['item_id'].nunique()

21807

In [19]:
60 * 20000 * 12

14400000

In [20]:
df_valid_new.shape

(642600, 5)

In [22]:
df_train_new.shape

(2784600, 5)

In [23]:
df_train_new.to_hdf('../data/processed/train/with_zeros.hdf', 'zeros', mode='w')