In [60]:
import pandas as pd
df = pd.read_hdf('../data/processed/train/aggr_train.hdf')
df.head()

,shop_id,item_id,year,month,item_name,item_category_id,item_category_name,big_category,date,aggr_from_date,...,count_aggr_6_months_shop_id_item_category_id,count_aggr_2_quartals_ago_shop_id_item_category_id,count_aggr_1_month_shop_id_item_category_id,count_aggr_1_month_ago_shop_id_big_category,count_aggr_3_months_shop_id_big_category,count_aggr_year_shop_id_big_category,count_aggr_6_months_shop_id_big_category,count_aggr_2_quartals_ago_shop_id_big_category,count_aggr_1_month_shop_id_big_category,item_cnt_day
0,45,13315,2015,10,Комикс Супермен Земля-1 Книга 2,47,"Книги - Комиксы, манга",Книги,2015-10-01,2015-09-01,...,35.0,0.0,6.0,27.0,59.0,98.0,88.0,3.0,21.0,1.0
1,56,13315,2015,10,Комикс Супермен Земля-1 Книга 2,47,"Книги - Комиксы, манга",Книги,2015-10-01,2015-09-01,...,80.0,0.0,37.0,52.0,136.0,515.0,227.0,128.0,46.0,1.0
2,57,13315,2015,10,Комикс Супермен Земля-1 Книга 2,47,"Книги - Комиксы, манга",Книги,2015-10-01,2015-09-01,...,23.0,0.0,10.0,18.0,61.0,148.0,80.0,32.0,27.0,1.0
3,47,13315,2015,10,Комикс Супермен Земля-1 Книга 2,47,"Книги - Комиксы, манга",Книги,2015-10-01,2015-09-01,...,314.0,0.0,137.0,127.0,335.0,432.0,398.0,15.0,157.0,1.0
4,20,13315,2015,10,Комикс Супермен Земля-1 Книга 2,47,"Книги - Комиксы, манга",Книги,2015-10-01,2015-09-01,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0

In [2]:
df['big_category'].nunique()

14

In [20]:
df.shape

(921400, 54)

## Simple Features
One hots:
 * shop_id
 * item_category_id
 * big_category
 
 * year
 * month
 
 * day in the year

In [31]:
pd.get_dummies(df[['shop_id', 'item_category_id']], columns=['shop_id', 'item_category_id']).columns

Index(['shop_id_2', 'shop_id_3', 'shop_id_4', 'shop_id_5', 'shop_id_6',
       'shop_id_7', 'shop_id_9', 'shop_id_10', 'shop_id_11', 'shop_id_12',
       ...
       'item_category_id_74', 'item_category_id_75', 'item_category_id_76',
       'item_category_id_77', 'item_category_id_78', 'item_category_id_79',
       'item_category_id_80', 'item_category_id_81', 'item_category_id_82',
       'item_category_id_83'],
      dtype='object', length=134)

In [ ]:
df_featured

In [26]:
df_X.min()

count_aggr_3_months_shop_id                              0.0
count_aggr_1_month_ago_shop_id                           0.0
count_aggr_6_months_shop_id                             -1.0
count_aggr_2_quartals_ago_shop_id                        0.0
count_aggr_year_shop_id                                  0.0
count_aggr_1_month_shop_id                               0.0
count_aggr_3_months_item_id                            -23.0
count_aggr_1_month_ago_item_id                         -22.0
count_aggr_6_months_item_id                            -23.0
count_aggr_2_quartals_ago_item_id                       -1.0
count_aggr_year_item_id                                  0.0
count_aggr_1_month_item_id                             -18.0
count_aggr_3_months_item_category_id                     0.0
count_aggr_1_month_ago_item_category_id                  0.0
count_aggr_6_months_item_category_id                     0.0
count_aggr_2_quartals_ago_item_category_id               0.0
count_aggr_year_item_category_id                         0.0
count_aggr_1_month_item_category_id                      0.0
count_aggr_3_months_big_category                         0.0
count_aggr_1_month_ago_big_category                      0.0
count_aggr_6_months_big_category                         0.0
count_aggr_2_quartals_ago_big_category                   0.0
count_aggr_year_big_category                             0.0
count_aggr_1_month_big_category                          0.0
count_aggr_3_months_shop_id_item_id                    -21.0
count_aggr_1_month_ago_shop_id_item_id                 -22.0
count_aggr_6_months_shop_id_item_id                     -4.0
count_aggr_2_quartals_ago_shop_id_item_id               -4.0
count_aggr_year_shop_id_item_id                         -1.0
count_aggr_1_month_shop_id_item_id                      -2.0
count_aggr_3_months_shop_id_item_category_id            -1.0
count_aggr_1_month_ago_shop_id_item_category_id        -22.0
count_aggr_6_months_shop_id_item_category_id            -1.0
count_aggr_2_quartals_ago_shop_id_item_category_id      -1.0
count_aggr_year_shop_id_item_category_id                -2.0
count_aggr_1_month_shop_id_item_category_id             -1.0
count_aggr_3_months_shop_id_big_category                 0.0
count_aggr_1_month_ago_shop_id_big_category              0.0
count_aggr_6_months_shop_id_big_category                 0.0
count_aggr_2_quartals_ago_shop_id_big_category           0.0
count_aggr_year_shop_id_big_category                     0.0
count_aggr_1_month_shop_id_big_category                  0.0
month                                                    1.0
year                                                  2014.0
dtype: float64

In [18]:
df[df_X['count_aggr_1_month_shop_id'] == df_X['count_aggr_1_month_shop_id'].min()]

,shop_id,item_id,year,month,item_name,item_category_id,item_category_name,big_category,date,aggr_from_date,...,count_aggr_3_months_shop_id_item_category_id,count_aggr_1_month_ago_shop_id_item_category_id,count_aggr_1_month_shop_id_item_category_id,count_aggr_6_months_shop_id_big_category,count_aggr_year_shop_id_big_category,count_aggr_2_quartals_ago_shop_id_big_category,count_aggr_3_months_shop_id_big_category,count_aggr_1_month_ago_shop_id_big_category,count_aggr_1_month_shop_id_big_category,item_cnt_day
921279,27,9250,2015,9,"Билет ""ИгроМир 2015"" - 3 октября 2015 [Цифрова...",80,Служебные - Билеты,Служебные,2015-09-01,2015-08-01,...,-2.0,12.0,-23.0,-795.0,-220.0,309.0,-923.0,25.0,-986.0,-1.0

In [23]:
df_X['count_aggr_1_month_shop_id_item_id'].min()

-2.0

In [16]:
df[df_X['count_aggr_1_month_shop_id_item_id'] == df_X['count_aggr_1_month_shop_id_item_id'].min()]

,shop_id,item_id,year,month,item_name,item_category_id,item_category_name,big_category,date,aggr_from_date,...,count_aggr_3_months_shop_id_item_category_id,count_aggr_1_month_ago_shop_id_item_category_id,count_aggr_1_month_shop_id_item_category_id,count_aggr_6_months_shop_id_big_category,count_aggr_year_shop_id_big_category,count_aggr_2_quartals_ago_shop_id_big_category,count_aggr_3_months_shop_id_big_category,count_aggr_1_month_ago_shop_id_big_category,count_aggr_1_month_shop_id_big_category,item_cnt_day
518961,12,7799,2014,7,"Watch_Dogs. Vigilante Edition [PS3, русская ве...",19,Игры - PS3,Игры,2014-07-01,2014-06-01,...,5.0,52.0,22.0,-104.0,4121.0,2253.0,-176.0,-29.0,-149.0,-2.0
737523,12,2331,2014,2,"Call of Duty: Ghosts [PS4, русская версия]",20,Игры - PS4,Игры,2014-02-01,2014-01-01,...,269.0,195.0,26.0,3997.0,6524.0,1185.0,1224.0,586.0,-215.0,1.0

In [37]:
df['date'].dt.dayofyear

0         274
1         274
2         274
3         274
4         274
5         213
6         213
7         244
8         274
9         274
10        274
11        274
12        274
13        274
14        274
15        274
16        274
17        274
18        274
19        274
20        274
21        274
22        274
23        274
24        274
25        274
26        274
27        152
28        152
29        152
         ...
921370    244
921371    244
921372    244
921373    244
921374    244
921375    244
921376    244
921377    244
921378    244
921379     91
921380    121
921381    121
921382    152
921383    182
921384    213
921385    244
921386     91
921387    121
921388    121
921389    152
921390    182
921391    213
921392    244
921393     91
921394    121
921395    121
921396    152
921397    182
921398    213
921399    244
Name: date, Length: 921400, dtype: int64

In [3]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import r2_score, mean_squared_error
df_y_preds = cross_val_predict(LinearRegression(), df_X, df_y)
print('r2 score:', r2_score(df_y, df_y_preds))
print('mse: ', mean_squared_error(df_y, df_y_preds))

NameError: name 'df_X' is not defined

In [38]:

df_valid = df[df['date'] == datetime(2015,8,1)]
df_train = df[df['date'] < datetime(2015,8,1)]

In [85]:
def X(df):
    df['day_of_year'] = df['date'].dt.dayofyear
    one_hot_cols = ['month', 'year',
        'shop_id', 'item_category_id', 'big_category'
        ]
    df_X = df[
        [ 
            col for col in df.columns 
            if col.startswith('count')
        ] + ['day_of_year', 'date'] 
        #+ one_hot_cols
    ]
    
    #df_X = pd.get_dummies(df_X, columns=one_hot_cols)
    return df_X
def XY(df):
    df_X = X(df)
    df_y = df['item_cnt_day']
    return df_X, df_y
from datetime import datetime
df_X, df_y = XY(df)
df_X_valid = df_X[df_X['date'] == datetime(2015,8,1)].drop('date', axis=1)
df_X_train = df_X[df_X['date'] < datetime(2015,8,1)].drop('date', axis=1)
df_y_valid = df_y[df_X['date'] == datetime(2015,8,1)]
df_y_train = df_y[df_X['date'] < datetime(2015, 8, 1)]

In [88]:
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
#df_X_train_scaled = scaler.fit_transform(df_X_train)
#df_X_valid_scaled = scaler.transform(df_X_valid)
model = LinearRegression()
#model = RandomForestRegressor(n_estimators=60, n_jobs=-1, max_depth=6)
model.fit(df_X_train, df_y_train)
df_y_valid_preds = model.predict(df_X_valid)
print('validation score: ', r2_score(df_y_valid, df_y_valid_preds))
print('train score: ', r2_score(df_y_train, model.predict(df_X_train)))

validation score:  0.7223524485913091
train score:  0.5459657896308692

In [68]:
r2_score(df_y_valid.clip(0, 20), df_X_valid['count_aggr_1_month_ago_shop_id_item_id'].clip(0, 20))

-0.35013789627422476

In [83]:
df['date-1'] = df['date'] - pd.DateOffset(months=1)
df_merged = pd.merge(df, df[['shop_id', 'item_id', 'date', 'item_cnt_day']],
        left_on=['shop_id', 'item_id','date-1'], right_on=['shop_id','item_id','date'],
         suffixes=('', '_previously')
        )

/home/piotrek/.local/lib/python3.5/site-packages/pandas/core/computation/check.py:17: UserWarning: The installed version of numexpr 2.4.3 is not supported in pandas and will be not be used
The minimum supported version is 2.4.6

  ver=ver, min_ver=_MIN_NUMEXPR_VERSION), UserWarning)

In [84]:
df_merged[['count_aggr_1_month_shop_id_item_id', 'item_cnt_day_previously']]

        count_aggr_1_month_shop_id_item_id  item_cnt_day_previously
0                                      1.0                      1.0
1                                      4.0                      4.0
2                                      2.0                      2.0
3                                      4.0                      4.0
4                                      2.0                      2.0
5                                      1.0                      1.0
6                                      1.0                      1.0
7                                      1.0                      1.0
8                                      1.0                      1.0
9                                      8.0                      8.0
10                                     2.0                      2.0
11                                     1.0                      1.0
12                                     4.0                      4.0
13                                     7.0                      7.0
14                                     2.0                      2.0
15                                     1.0                      1.0
16                                     1.0                      1.0
17                                     8.0                      8.0
18                                     3.0                      3.0
19                                     6.0                      6.0
20                                     5.0                      5.0
21                                     3.0                      3.0
22                                     6.0                      6.0
23                                     6.0                      6.0
24                                     6.0                      6.0
25                                     4.0                      4.0
26                                     6.0                      6.0
27                                     2.0                      2.0
28                                     3.0                      3.0
29                                     2.0                      2.0
...                                    ...                      ...
384615                                18.0                     18.0
384616                                 6.0                      6.0
384617                                 5.0                      5.0
384618                                 7.0                      7.0
384619                                 2.0                      2.0
384620                                 8.0                      8.0
384621                                 2.0                      2.0
384622                                 5.0                      5.0
384623                                 6.0                      6.0
384624                                 2.0                      2.0
384625                                18.0                     18.0
384626                                 1.0                      1.0
384627                                31.0                     31.0
384628                                 3.0                      3.0
384629                                19.0                     19.0
384630                                 1.0                      1.0
384631                                10.0                     10.0
384632                                 3.0                      3.0
384633                                 1.0                      1.0
384634                                14.0                     14.0
384635                                13.0                     13.0
384636                                11.0                     11.0
384637                                 3.0                      3.0
384638                                12.0                     12.0
384639                                19.0                     19.0
384640                                 4.0                      4.0
384641                                 4.0                      4.0
384642                                 6.0                      6.0
384643                                 9.0                      9.0
384644                                29.0                     29.0

[384645 rows x 2 columns]

In [80]:
df[
    (df['year'] == 2015) &
    (df['month'].isin([9, 10])) &
    (df['shop_id'] == 20) & 
    (df['item_id'] == 22143)
]['count_aggr_1_month_shop_id_item_id']

Series([], Name: count_aggr_1_month_shop_id_item_id, dtype: float64)

In [ ]:
df

In [67]:
df_y_valid.clip(0, 20)

0            1.0
1            1.0
2            1.0
3            1.0
4            2.0
8            2.0
9            5.0
10           1.0
11           1.0
12           3.0
13           1.0
14           1.0
15           2.0
16           1.0
17           3.0
18           1.0
19           2.0
20           2.0
21           1.0
22          50.0
23           3.0
24           1.0
25           2.0
26           2.0
90           1.0
91           5.0
92           2.0
93           1.0
94           5.0
95           2.0
           ...
915927       2.0
915928       1.0
915929       1.0
915930       1.0
915933       1.0
915936       1.0
915937       1.0
915940       1.0
915941       1.0
915942       2.0
915943       1.0
915944       1.0
915945       1.0
916104       1.0
916238       1.0
916240       1.0
916366       1.0
916367       1.0
916368       1.0
917643     123.0
917665      33.0
917687       1.0
917690      31.0
917712       1.0
917718    2253.0
917740      43.0
917749      22.0
917760       7.0
917771      10.0
917788      -1.0
Name: item_cnt_day, Length: 31531, dtype: float64

In [34]:
df_X_train_scaled

array([[-0.64723294, -0.62689969, -0.5241417 , ...,  0.        ,
         0.        ,  0.10795977],
       [-0.86970998, -0.80350048, -0.83206492, ...,  0.        ,
         0.        ,  0.10795977],
       [ 1.51279268,  1.58386642,  2.1378935 , ...,  0.        ,
         0.        ,  0.10795977],
       ...,
       [-0.11515311, -0.1675844 ,  0.20151095, ...,  0.        ,
         0.        , -0.19145715],
       [-0.07025804,  0.01437954, -0.1082091 , ...,  0.        ,
         0.        ,  0.10795977],
       [-0.07771835,  0.28445234, -0.27092193, ...,  0.        ,
         0.        ,  0.39771807]])

In [ ]:
df_X_valid

In [33]:
df_X_train.mean()

count_aggr_3_months_shop_id                             9606.384432
count_aggr_1_month_ago_shop_id                          3206.463534
count_aggr_6_months_shop_id                            19666.001077
count_aggr_2_quartals_ago_shop_id                      10108.981501
count_aggr_year_shop_id                                40168.623487
count_aggr_1_month_shop_id                              3140.359518
count_aggr_3_months_item_id                              162.514448
count_aggr_1_month_ago_item_id                            53.756415
count_aggr_6_months_item_id                              304.471000
count_aggr_2_quartals_ago_item_id                        122.621362
count_aggr_year_item_id                                  533.073291
count_aggr_1_month_item_id                                57.755069
count_aggr_3_months_item_category_id                   23120.877990
count_aggr_1_month_ago_item_category_id                 7695.359710
count_aggr_6_months_item_category_id                   48419.170173
count_aggr_2_quartals_ago_item_category_id             26732.629667
count_aggr_year_item_category_id                      104118.546359
count_aggr_1_month_item_category_id                     7447.597772
count_aggr_3_months_big_category                           0.000000
count_aggr_1_month_ago_big_category                        0.000000
count_aggr_6_months_big_category                           0.000000
count_aggr_2_quartals_ago_big_category                     0.000000
count_aggr_year_big_category                               0.000000
count_aggr_1_month_big_category                            0.000000
count_aggr_3_months_shop_id_item_id                        4.513256
count_aggr_1_month_ago_shop_id_item_id                     1.502123
count_aggr_6_months_shop_id_item_id                        8.379077
count_aggr_2_quartals_ago_shop_id_item_id                  3.275036
count_aggr_year_shop_id_item_id                           14.457860
count_aggr_1_month_shop_id_item_id                         1.599194
count_aggr_3_months_shop_id_item_category_id             792.329449
count_aggr_1_month_ago_shop_id_item_category_id          264.177872
count_aggr_6_months_shop_id_item_category_id            1638.558526
count_aggr_2_quartals_ago_shop_id_item_category_id       879.618487
count_aggr_year_shop_id_item_category_id                3454.801533
count_aggr_1_month_shop_id_item_category_id              256.946040
count_aggr_3_months_shop_id_big_category                   0.000000
count_aggr_1_month_ago_shop_id_big_category                0.000000
count_aggr_6_months_shop_id_big_category                   0.000000
count_aggr_2_quartals_ago_shop_id_big_category             0.000000
count_aggr_year_shop_id_big_category                       0.000000
count_aggr_1_month_shop_id_big_category                    0.000000
day_of_year                                              140.822432
dtype: float64

In [23]:
df_y_train_preds = model.predict(df_X_train)
r2_score(df_y_train, df_y_train_preds)

0.5458288490593428

In [5]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import r2_score, mean_squared_error

r2_score(df_y_valid, df_y_valid_preds)

0.5816454157365782

In [ ]:
Linreg_score = 0.72215
Rf_score =

In [9]:
mean_squared_error(df_y_valid, df_y_valid_preds)

9.249318140417623

In [27]:
df_X.apply(lambda x: (x<0).sum())

count_aggr_3_months_shop_id                             0
count_aggr_1_month_ago_shop_id                          0
count_aggr_6_months_shop_id                           390
count_aggr_2_quartals_ago_shop_id                       0
count_aggr_year_shop_id                                 0
count_aggr_1_month_shop_id                              0
count_aggr_3_months_item_id                            26
count_aggr_1_month_ago_item_id                         31
count_aggr_6_months_item_id                             3
count_aggr_2_quartals_ago_item_id                       5
count_aggr_year_item_id                                 0
count_aggr_1_month_item_id                             35
count_aggr_3_months_item_category_id                    0
count_aggr_1_month_ago_item_category_id                 0
count_aggr_6_months_item_category_id                    0
count_aggr_2_quartals_ago_item_category_id              0
count_aggr_year_item_category_id                        0
count_aggr_1_month_item_category_id                     0
count_aggr_3_months_big_category                        0
count_aggr_1_month_ago_big_category                     0
count_aggr_6_months_big_category                        0
count_aggr_2_quartals_ago_big_category                  0
count_aggr_year_big_category                            0
count_aggr_1_month_big_category                         0
count_aggr_3_months_shop_id_item_id                    51
count_aggr_1_month_ago_shop_id_item_id                103
count_aggr_6_months_shop_id_item_id                    21
count_aggr_2_quartals_ago_shop_id_item_id              49
count_aggr_year_shop_id_item_id                        10
count_aggr_1_month_shop_id_item_id                    130
count_aggr_3_months_shop_id_item_category_id            2
count_aggr_1_month_ago_shop_id_item_category_id        28
count_aggr_6_months_shop_id_item_category_id            1
count_aggr_2_quartals_ago_shop_id_item_category_id      1
count_aggr_year_shop_id_item_category_id                1
count_aggr_1_month_shop_id_item_category_id            20
count_aggr_3_months_shop_id_big_category                0
count_aggr_1_month_ago_shop_id_big_category             0
count_aggr_6_months_shop_id_big_category                0
count_aggr_2_quartals_ago_shop_id_big_category          0
count_aggr_year_shop_id_big_category                    0
count_aggr_1_month_shop_id_big_category                 0
month                                                   0
year                                                    0
dtype: int64

In [30]:
model = LinearRegression()
model.fit(df_X, df_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [34]:
df_test['item_category_id'].isin(df['item_category_id'].unique()).mean()

0.9998039215686274

In [89]:
df_test = pd.read_hdf('../data/processed/test/aggr_test.hdf')
df_test.head()

,ID,shop_id,item_id,year,month,item_name,item_category_id,item_category_name,big_category,date,...,count_aggr_2_quartals_ago_shop_id_item_category_id,count_aggr_1_month_shop_id_item_category_id,count_aggr_6_months_shop_id_item_category_id,count_aggr_1_month_ago_shop_id_item_category_id,count_aggr_year_shop_id_big_category,count_aggr_3_months_shop_id_big_category,count_aggr_2_quartals_ago_shop_id_big_category,count_aggr_1_month_shop_id_big_category,count_aggr_6_months_shop_id_big_category,count_aggr_1_month_ago_shop_id_big_category
0,0,5,5037,2015,11,"NHL 15 [PS3, русские субтитры]",19,Игры - PS3,Игры,2015-11-01,...,181.0,75.0,531.0,110.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5100,4,5037,2015,11,"NHL 15 [PS3, русские субтитры]",19,Игры - PS3,Игры,2015-11-01,...,134.0,34.0,309.0,53.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10200,6,5037,2015,11,"NHL 15 [PS3, русские субтитры]",19,Игры - PS3,Игры,2015-11-01,...,178.0,54.0,403.0,79.0,0.0,0.0,0.0,0.0,0.0,0.0
3,15300,3,5037,2015,11,"NHL 15 [PS3, русские субтитры]",19,Игры - PS3,Игры,2015-11-01,...,166.0,45.0,355.0,51.0,0.0,0.0,0.0,0.0,0.0,0.0
4,20400,2,5037,2015,11,"NHL 15 [PS3, русские субтитры]",19,Игры - PS3,Игры,2015-11-01,...,197.0,70.0,546.0,111.0,0.0,0.0,0.0,0.0,0.0,0.0

KeyError: "Index(['day_of_year', 'month_1', 'month_2', 'month_3', 'month_4', 'month_5',\n       'month_6', 'month_7', 'month_8', 'month_9',\n       ...\n       'big_category_Игры', 'big_category_Карты', 'big_category_Кино',\n       'big_category_Книги', 'big_category_Музыка', 'big_category_Подарки',\n       'big_category_Программы', 'big_category_Служебные',\n       'big_category_Чистые', 'big_category_Элементы'],\n      dtype='object', length=163) not in index"

In [11]:
df_test['pred'] = model.predict(df_test[    
    [ 
        col for col in df.columns 
        if col.startswith('count')
    ] + ['month', 'year']
])

ValueError: shapes (214200,44) and (205,) not aligned: 44 (dim 1) != 205 (dim 0)

In [90]:
df_test_X = X(df_test)

In [91]:
    df_test_X = df_test_X.reindex(columns=df_X.columns, fill_value=0)

In [92]:
df_test['pred'] = model.predict(df_test_X.drop('date', axis=1))

In [93]:
(df_test['count_aggr_1_month_shop_id_item_id'] == 0).mean()

0.8663211951447246

In [96]:
df_test['item_cnt_month'] = ((df_test['count_aggr_1_month_shop_id_item_id'] == 0) * df_test['pred']).clip(0, 20)

In [98]:
df_test[['ID', 'item_cnt_month']].to_csv('../data/submissions/if_sells_submission.csv', index=False)

In [27]:
df_test[['ID', 'pred']].rename(columns={'pred': 'item_cnt_month'}).to_csv('../data/submission3.csv', index=False)

In [76]:
(df_test['pred'] == 0).sum()

0

In [76]:
df_test_X['month_1']

0         0
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        0
18        0
19        0
20        0
21        0
22        0
23        0
24        0
25        0
26        0
27        0
28        0
29        0
         ..
214170    0
214171    0
214172    0
214173    0
214174    0
214175    0
214176    0
214177    0
214178    0
214179    0
214180    0
214181    0
214182    0
214183    0
214184    0
214185    0
214186    0
214187    0
214188    0
214189    0
214190    0
214191    0
214192    0
214193    0
214194    0
214195    0
214196    0
214197    0
214198    0
214199    0
Name: month_1, Length: 214200, dtype: int64

7.913315997440954

In [83]:
df_test.shape

(214200, 56)