In [1]:
import pandas as pd 
df = pd.read_hdf('../data/processed/train/aggr_case1.hdf')
df.head()

,shop_id,item_id,item_category_id,big_category,month,year,item_cnt_day,item_cnt_day_sum_1_month,item_cnt_day_std_1_month,item_price_std_1_month,...,item_price_std_6_months_item_id,item_cnt_day_sum_6_months_big_category,item_cnt_day_std_6_months_big_category,item_price_std_6_months_big_category,item_cnt_day_sum_6_months_shop_id_item_id,item_cnt_day_std_6_months_shop_id_item_id,item_price_std_6_months_shop_id_item_id,item_cnt_day_sum_6_months_shop_id_item_category_id,item_cnt_day_std_6_months_shop_id_item_category_id,item_price_std_6_months_shop_id_item_category_id
0,2,32,40,Кино,7,2014,1.0,957.0,1.294385,2474.960746,...,14.224661,166189.0,0.461029,333.344633,2.0,0.0,21.213203,476.0,0.200935,128.800125
1,2,32,40,Кино,8,2015,1.0,785.0,0.353340,1933.133822,...,8.924552,98646.0,0.400964,359.671783,1.0,NaN,NaN,404.0,0.149718,152.355371
2,2,32,40,Кино,9,2014,2.0,956.0,1.057545,2182.333138,...,12.761132,153574.0,0.433250,316.258393,2.0,0.0,0.000000,456.0,0.216053,135.029848
3,2,33,37,Кино,7,2015,1.0,804.0,0.562839,2294.877623,...,6.567245,108243.0,0.409081,363.037902,3.0,0.0,0.000000,205.0,0.222178,367.092796
4,2,33,37,Кино,9,2014,1.0,956.0,1.057545,2182.333138,...,5.453917,153574.0,0.433250,316.258393,NaN,NaN,NaN,163.0,0.320471,241.186310

In [3]:
import pandas as pd 
s = pd.Series(['a_b' for _ in range(100)])
s.head()

0    a_b
1    a_b
2    a_b
3    a_b
4    a_b
dtype: object

In [10]:
import numpy as np 
np.vstack(s.str.split('_'))[:,0]

array(['a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a',
       'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a',
       'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a',
       'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a',
       'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a',
       'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a',
       'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a',
       'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a'], dtype='<U1')

In [12]:
pd.DataFrame(data=[[2,3], [4,5]]).as_matrix()

array([[2, 3],
       [4, 5]])