In [1]:
from itertools import product

raw_keys = [
    ['shop_id', 'mall', 'city'],
    ['item_id', 'item_category_id', 'first_big_category', 'last_big_category']
]

keys = [
    [key] for key_sets in raw_keys for key in key_sets
] + list(map(list, product(*raw_keys)))

In [2]:
keys

[['shop_id'],
 ['mall'],
 ['city'],
 ['item_id'],
 ['item_category_id'],
 ['first_big_category'],
 ['last_big_category'],
 ['shop_id', 'item_id'],
 ['shop_id', 'item_category_id'],
 ['shop_id', 'first_big_category'],
 ['shop_id', 'last_big_category'],
 ['mall', 'item_id'],
 ['mall', 'item_category_id'],
 ['mall', 'first_big_category'],
 ['mall', 'last_big_category'],
 ['city', 'item_id'],
 ['city', 'item_category_id'],
 ['city', 'first_big_category'],
 ['city', 'last_big_category']]

In [8]:
import pandas as pd 
pd.DataFrame([[1,2], [2,3]]).to_hdf('../data/temp.hdf', 'test')

In [11]:
df = pd.read_hdf('../data/temp.hdf')

In [12]:
df

   0  1
0  1  2
1  2  3