In [2]:
import pandas as pd
df = pd.read_hdf('../data/processed/train/aggr_train_zeros.hdf')
df.head()

,ID,shop_id,item_id,year,month,item_name,item_category_id,item_category_name,big_category,date,...,count_aggr_3_months_shop_id_item_category_id,count_aggr_2_quartals_ago_shop_id_item_category_id,count_aggr_6_months_shop_id_item_category_id,count_aggr_1_month_shop_id_big_category,count_aggr_year_shop_id_big_category,count_aggr_1_month_ago_shop_id_big_category,count_aggr_3_months_shop_id_big_category,count_aggr_2_quartals_ago_shop_id_big_category,count_aggr_6_months_shop_id_big_category,item_cnt_day
0,0,5,5037,2014,10,"NHL 15 [PS3, русские субтитры]",19,Игры - PS3,Игры,2014-10-01,...,316.0,327.0,544.0,552.0,6923.0,616.0,1709.0,1780.0,3203.0,0.0
1,5100,4,5037,2014,10,"NHL 15 [PS3, русские субтитры]",19,Игры - PS3,Игры,2014-10-01,...,208.0,338.0,416.0,580.0,8232.0,634.0,1729.0,1999.0,3469.0,0.0
2,10200,6,5037,2014,10,"NHL 15 [PS3, русские субтитры]",19,Игры - PS3,Игры,2014-10-01,...,407.0,642.0,823.0,1136.0,14254.0,893.0,2835.0,3283.0,5959.0,1.0
3,15300,3,5037,2014,10,"NHL 15 [PS3, русские субтитры]",19,Игры - PS3,Игры,2014-10-01,...,280.0,295.0,499.0,488.0,5403.0,479.0,1325.0,1424.0,2472.0,2.0
4,20400,2,5037,2014,10,"NHL 15 [PS3, русские субтитры]",19,Игры - PS3,Игры,2014-10-01,...,365.0,512.0,736.0,535.0,6855.0,600.0,1676.0,1668.0,3354.0,1.0

In [8]:
df_valid = pd.read_hdf('../data/processed/validation/aggr_valid.hdf')
df_valid.head()

,ID,shop_id,item_id,year,month,item_name,item_category_id,item_category_name,big_category,date,...,count_aggr_3_months_shop_id_item_category_id,count_aggr_2_quartals_ago_shop_id_item_category_id,count_aggr_6_months_shop_id_item_category_id,count_aggr_1_month_shop_id_big_category,count_aggr_year_shop_id_big_category,count_aggr_1_month_ago_shop_id_big_category,count_aggr_3_months_shop_id_big_category,count_aggr_2_quartals_ago_shop_id_big_category,count_aggr_6_months_shop_id_big_category,item_cnt_day
0,0,5,5037,2015,8,"NHL 15 [PS3, русские субтитры]",19,Игры - PS3,Игры,2015-08-01,...,209.0,344.0,390.0,335.0,5856.0,379.0,1149.0,1954.0,2286.0,3.0
1,5100,4,5037,2015,8,"NHL 15 [PS3, русские субтитры]",19,Игры - PS3,Игры,2015-08-01,...,132.0,246.0,266.0,320.0,6160.0,327.0,1078.0,2094.0,2353.0,3.0
2,10200,6,5037,2015,8,"NHL 15 [PS3, русские субтитры]",19,Игры - PS3,Игры,2015-08-01,...,193.0,460.0,371.0,454.0,10512.0,527.0,1781.0,3487.0,4019.0,1.0
3,15300,3,5037,2015,8,"NHL 15 [PS3, русские субтитры]",19,Игры - PS3,Игры,2015-08-01,...,179.0,332.0,345.0,295.0,5117.0,311.0,970.0,1695.0,2064.0,0.0
4,20400,2,5037,2015,8,"NHL 15 [PS3, русские субтитры]",19,Игры - PS3,Игры,2015-08-01,...,244.0,543.0,441.0,428.0,6882.0,433.0,1392.0,2439.0,2753.0,1.0

In [2]:
df.shape

(2784600, 55)

In [3]:
df['shop_id'].nunique()

42

In [4]:
df['item_id'].nunique()

5100

In [7]:
df[df['year'] == 2015]['month'].max()

10

In [6]:
df['year'].max()

2015

In [ ]:
df

In [3]:
from calendar import weekday, monthrange, FRIDAY
def friday_num(y, m):
    return sum(1 for d in range(*monthrange(y,m)) if weekday(y,m,d+1)==FRIDAY)

In [14]:
fridays_df_arr = [ [row['year'], row['month'], friday_num(row['year'], row['month'])] for _,row in df[['year', 'month']].drop_duplicates().iterrows()]
pd.DataFrame(fridays_df_arr, columns=['year', 'month', 'fridays'])

    year  month  fridays
0   2014     10        5
1   2014     11        4
2   2014     12        4
3   2015      1        4
4   2015      2        3
5   2015      3        3
6   2015      4        4
7   2015      5        4
8   2015      6        4
9   2015      7        5
10  2015      8        4
11  2015      9        4
12  2015     10        4

In [15]:
from calendar import weekday, monthrange, FRIDAY
def friday_num(y, m):
    return sum(1 for d in range(*monthrange(y,m)) if weekday(y,m,d+1)==FRIDAY)
def join_fridays(df):
    fridays_df_arr = [ [row['year'], row['month'], friday_num(row['year'], row['month'])] for _,row in df[['year', 'month']].drop_duplicates().iterrows()]
    fridays_df = pd.DataFrame(fridays_df_arr, columns=['year', 'month', 'fridays'])
    return pd.merge(df, fridays_df, on=['year', 'month'], copy=False)
join_fridays(df).head()

,ID,shop_id,item_id,year,month,item_name,item_category_id,item_category_name,big_category,date,...,count_aggr_2_quartals_ago_shop_id_item_category_id,count_aggr_6_months_shop_id_item_category_id,count_aggr_1_month_shop_id_big_category,count_aggr_year_shop_id_big_category,count_aggr_1_month_ago_shop_id_big_category,count_aggr_3_months_shop_id_big_category,count_aggr_2_quartals_ago_shop_id_big_category,count_aggr_6_months_shop_id_big_category,item_cnt_day,fridays
0,0,5,5037,2014,10,"NHL 15 [PS3, русские субтитры]",19,Игры - PS3,Игры,2014-10-01,...,327.0,544.0,552.0,6923.0,616.0,1709.0,1780.0,3203.0,0.0,5
1,5100,4,5037,2014,10,"NHL 15 [PS3, русские субтитры]",19,Игры - PS3,Игры,2014-10-01,...,338.0,416.0,580.0,8232.0,634.0,1729.0,1999.0,3469.0,0.0,5
2,10200,6,5037,2014,10,"NHL 15 [PS3, русские субтитры]",19,Игры - PS3,Игры,2014-10-01,...,642.0,823.0,1136.0,14254.0,893.0,2835.0,3283.0,5959.0,1.0,5
3,15300,3,5037,2014,10,"NHL 15 [PS3, русские субтитры]",19,Игры - PS3,Игры,2014-10-01,...,295.0,499.0,488.0,5403.0,479.0,1325.0,1424.0,2472.0,2.0,5
4,20400,2,5037,2014,10,"NHL 15 [PS3, русские субтитры]",19,Игры - PS3,Игры,2014-10-01,...,512.0,736.0,535.0,6855.0,600.0,1676.0,1668.0,3354.0,1.0,5