In [32]:
import pandas as pd 
df = pd.read_hdf('../data/processed/cumdata.hdf')
df.head()

   shop_id  item_id  year  month  cumcount
0        0       30  2013      3      31.0
1        0       31  2013      3      11.0
2        0       32  2013      2       6.0
3        0       32  2013      3      16.0
4        0       33  2013      2       3.0

In [10]:
def join_max_cumcount(df, key):
    df_max_cumcount = df.groupby(key, as_index=False)['cumcount'].max()
    df_max_cumcount = df_max_cumcount[key + ['cumcount']]
    df = pd.merge(df, df_max_cumcount, on=key, suffixes=('', '_max'))
    return df

In [34]:
df['date'] = pd.to_datetime(df['year'].astype(str) + '-' + df['month'].astype(str) + '-1')

/home/piotrek/.local/lib/python3.5/site-packages/pandas/core/computation/check.py:17: UserWarning: The installed version of numexpr 2.4.3 is not supported in pandas and will be not be used
The minimum supported version is 2.4.6

  ver=ver, min_ver=_MIN_NUMEXPR_VERSION), UserWarning)

In [39]:
df_max_min_date = df.groupby(key, as_index=False)['date'].min()

In [40]:
df_max_min_date

        shop_id  item_id       date
0             0       30 2013-03-01
1             0       31 2013-03-01
2             0       32 2013-02-01
3             0       33 2013-02-01
4             0       35 2013-02-01
5             0       36 2013-03-01
6             0       40 2013-03-01
7             0       42 2013-03-01
8             0       43 2013-02-01
9             0       49 2013-03-01
10            0       51 2013-02-01
11            0       57 2013-03-01
12            0       59 2013-03-01
13            0       61 2013-02-01
14            0       75 2013-02-01
15            0       85 2013-03-01
16            0       88 2013-02-01
17            0       95 2013-02-01
18            0       96 2013-02-01
19            0       97 2013-03-01
20            0       98 2013-02-01
21            0      111 2013-02-01
22            0      115 2013-03-01
23            0      136 2013-03-01
24            0      149 2013-02-01
25            0      151 2013-02-01
26            0      152 2013-03-01
27            0      153 2013-02-01
28            0      198 2013-02-01
29            0      199 2013-03-01
...         ...      ...        ...
424094       59    22079 2013-02-01
424095       59    22087 2013-02-01
424096       59    22088 2013-02-01
424097       59    22091 2013-04-01
424098       59    22092 2013-02-01
424099       59    22100 2015-10-01
424100       59    22102 2015-07-01
424101       59    22104 2015-07-01
424102       59    22105 2015-02-01
424103       59    22106 2015-02-01
424104       59    22114 2013-06-01
424105       59    22115 2013-06-01
424106       59    22118 2015-04-01
424107       59    22126 2013-12-01
424108       59    22130 2013-02-01
424109       59    22132 2013-08-01
424110       59    22134 2013-02-01
424111       59    22139 2015-02-01
424112       59    22141 2014-04-01
424113       59    22143 2014-04-01
424114       59    22144 2014-06-01
424115       59    22145 2014-04-01
424116       59    22150 2013-08-01
424117       59    22151 2013-02-01
424118       59    22153 2014-09-01
424119       59    22154 2013-02-01
424120       59    22155 2013-08-01
424121       59    22162 2015-03-01
424122       59    22164 2015-03-01
424123       59    22167 2013-11-01

[424124 rows x 3 columns]

In [30]:
key = ['shop_id', 'item_id']
df_cumdata = df
df_gb = df_cumdata.groupby(key)
df_gb

KeyboardInterrupt:

In [11]:
df['cumcount_max_bef'] = df['cumcount_max']
df = join_max_cumcount(df, ['shop_id', 'item_id'])
df.head()

,shop_id,item_id,year,month,item_cnt_day,date,cumcount,cumcount_max,cumcount_max_bef,cumcount_max
0,0,30,2013,2,31.0,2013-03-01,31.0,31.0,31.0,31.0
1,0,31,2013,2,11.0,2013-03-01,11.0,11.0,11.0,11.0
2,0,32,2013,1,6.0,2013-02-01,6.0,16.0,16.0,16.0
3,0,32,2013,2,10.0,2013-03-01,16.0,16.0,16.0,16.0
4,0,33,2013,1,3.0,2013-02-01,3.0,6.0,6.0,6.0

In [18]:
df['cumcount_max']

cumcount_max    59706836.0
cumcount_max    59706836.0
dtype: float64

In [16]:
import numpy as np
(df['cumcount_max_bef'].astype(np.float32) != df['cumcount_max'].astype(np.float32)).sum()

TypeError: unorderable types: str() < int()

In [2]:
(df['cumcount_item'] > df['cumcount_item_max']).sum()

0

In [3]:
df.shape

(3195230, 8)

In [4]:
df.rename(columns={'cumcount_item': 'cumcount', 'cumcount_item_max': 'cumcount_max'}, inplace=True)
df

,shop_id,item_id,year,month,item_cnt_day,date,cumcount,cumcount_max
0,0,30,2013,2,31.0,2013-03-01,31.0,31.0
1,0,31,2013,2,11.0,2013-03-01,11.0,11.0
2,0,32,2013,1,6.0,2013-02-01,6.0,16.0
3,0,32,2013,2,10.0,2013-03-01,16.0,16.0
4,0,33,2013,1,3.0,2013-02-01,3.0,6.0
5,0,33,2013,2,3.0,2013-03-01,6.0,6.0
6,0,35,2013,1,1.0,2013-02-01,1.0,15.0
7,0,35,2013,2,14.0,2013-03-01,15.0,15.0
8,0,36,2013,2,1.0,2013-03-01,1.0,1.0
9,0,40,2013,2,1.0,2013-03-01,1.0,1.0
10,0,42,2013,2,1.0,2013-03-01,1.0,1.0
11,0,43,2013,1,1.0,2013-02-01,1.0,1.0
12,0,49,2013,2,2.0,2013-03-01,2.0,2.0
13,0,51,2013,1,2.0,2013-02-01,2.0,5.0
14,0,51,2013,2,3.0,2013-03-01,5.0,5.0
15,0,57,2013,2,1.0,2013-03-01,1.0,1.0
16,0,59,2013,2,1.0,2013-03-01,1.0,1.0
17,0,61,2013,1,1.0,2013-02-01,1.0,1.0
18,0,75,2013,1,1.0,2013-02-01,1.0,1.0
19,0,85,2013,2,1.0,2013-03-01,1.0,1.0
20,0,88,2013,1,1.0,2013-02-01,1.0,1.0
21,0,95,2013,1,1.0,2013-02-01,1.0,1.0
22,0,96,2013,1,1.0,2013-02-01,1.0,1.0
23,0,97,2013,2,1.0,2013-03-01,1.0,1.0
24,0,98,2013,1,25.0,2013-02-01,25.0,30.0
25,0,98,2013,2,5.0,2013-03-01,30.0,30.0
26,0,111,2013,1,1.0,2013-02-01,1.0,2.0
27,0,111,2013,2,1.0,2013-03-01,2.0,2.0
28,0,115,2013,2,1.0,2013-03-01,1.0,1.0
29,0,136,2013,2,1.0,2013-03-01,1.0,1.0
...,...,...,...,...,...,...,...,...
3195200,59,22150,2013,7,1.0,2013-08-01,1.0,2.0
3195201,59,22150,2013,8,1.0,2013-09-01,2.0,2.0
3195202,59,22151,2013,1,2.0,2013-02-01,2.0,3.0
3195203,59,22151,2013,2,0.0,2013-03-01,2.0,3.0
3195204,59,22151,2013,3,1.0,2013-04-01,3.0,3.0
3195205,59,22153,2014,8,1.0,2014-09-01,1.0,1.0
3195206,59,22154,2013,1,1.0,2013-02-01,1.0,1.0
3195207,59,22155,2013,7,1.0,2013-08-01,1.0,1.0
3195208,59,22162,2015,2,9.0,2015-03-01,9.0,16.0
3195209,59,22162,2015,3,4.0,2015-04-01,13.0,16.0
3195210,59,22162,2015,4,1.0,2015-05-01,14.0,16.0
3195211,59,22162,2015,5,1.0,2015-06-01,15.0,16.0
3195212,59,22162,2015,6,0.0,2015-07-01,15.0,16.0
3195213,59,22162,2015,7,0.0,2015-08-01,15.0,16.0
3195214,59,22162,2015,8,1.0,2015-09-01,16.0,16.0
3195215,59,22164,2015,2,2.0,2015-03-01,2.0,6.0
3195216,59,22164,2015,3,1.0,2015-04-01,3.0,6.0
3195217,59,22164,2015,4,2.0,2015-05-01,5.0,6.0
3195218,59,22164,2015,5,0.0,2015-06-01,5.0,6.0
3195219,59,22164,2015,6,0.0,2015-07-01,5.0,6.0
3195220,59,22164,2015,7,1.0,2015-08-01,6.0,6.0
3195221,59,22167,2013,10,1.0,2013-11-01,1.0,4.0
3195222,59,22167,2013,11,0.0,2013-12-01,1.0,4.0
3195223,59,22167,2013,12,2.0,2014-01-01,3.0,4.0
3195224,59,22167,2014,1,0.0,2014-02-01,3.0,4.0
3195225,59,22167,2014,2,0.0,2014-03-01,3.0,4.0
3195226,59,22167,2014,3,0.0,2014-04-01,3.0,4.0
3195227,59,22167,2014,4,0.0,2014-05-01,3.0,4.0
3195228,59,22167,2014,5,0.0,2014-06-01,3.0,4.0
3195229,59,22167,2014,6,1.0,2014-07-01,4.0,4.0

In [5]:

df.to_hdf('../data/processed/cumdata.hdf', 'cumdata', mode='w')